:root{
    --primary-color:#23a094;
    --secondary-color:#8ee7eaf1;
    --border-color:#000;
    --danger-color:#DB162F;
    --background-color:#e0e0e0;
    --navbar-color:#d3d3d3;
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
    
}

 .wrapper{
    width: 100vw;
    height: 100vh;
   /* overflow: hidden; */
   margin-bottom: 20px;
} 
.wrapper .siteHeader{
    
    line-height: 18px;
    height: 75px;
    width: 100%;
    background-color: #F4F1EA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    will-change: transform ;
    pointer-events: auto;
    box-shadow:0 1px 2px rgba(0,0,0,0.15);
}
.siteHeader .site-logo a{
    font-size: 32px;
    color:var(--border-color);
    font-weight: 300;
    word-spacing: 1.125rem;
    
}
.siteHeader .site-logo a span{
    font-weight: 500;
}

.siteHeader-primaryNav>ul{
    display: flex;
    width: 100px;
    justify-content: space-around;
    align-items: center;
    /* position: relative;
    right:100px; */
    
}
.siteHeader-menuList .listItems{
    margin: 0 15px;
}

.listItems a{
    font-size: 18px;
    padding: 14px;
    width: max-content;
    height: max-content;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
    color: black;
    transition: all 0.2s ease;
}
.listItems a:hover{
    color: var(--background-color);
    background-color: var(--border-color);
}

.searchBox-form input{
    height: 32px;
    width: 300px;
    padding: 0 5px;
    outline: none;
    border: #DCD6CC 1px solid;
    border-radius: 3px;

    /* background-color: red; */
    position:relative
}

.searchBox #searchBtn {
   
   background-color: transparent;
   border: transparent;
    display: inline-block;
height: 19px;
position: relative;
width: 18px;
right: 25px;
top: 0;
cursor: pointer;
     
}
.searchBox #searchBtn i{
    background-color:white ;
    
    color: #d3d3d3;
}
.searchBox-form input:focus{
    box-shadow: 0 0 4px rgba(185,173,153,0.5);
    border-color: #B9AD99;
    outline: none;
}
.grid{
    display: grid;
    /* z-index: 3; */
    grid-template-columns: repeat(3,1fr);
    flex-direction: row;
    position: relative;
    top: 100px;
    
}
.books{
    margin: 20px ;
    /* background-color: aquamarine; */
    min-height: 200px;
    min-width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color:#F4F1EA;
}

.modal.show{
    /* visibility: none; */
    width: max-content;
    height: 50px;
    background-color: #F4F1EA;
    position: absolute;
    top: 20%;
    left: 45%;
    color: #DB162F;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 3;
    border: 1px solid var(--danger-color);
}